<html lang="en-gb">
<header><%- include('_head') -%>
        <nav><%- include('_header') -%></nav>
</header>
<main>
    <h1>Posts</h1>
    <ol>
        <% postList.results.forEach(function(post) {%>
            <li>
                <p>
                    <b>
                        <%= post.message %>
                    </b> -<small>
                        <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss" ) %>
                    </small>
                </p>
                <form method="post" action="/posts/<%=post.id%>/like/">
                    <button type="submit">Like</button>
                </form>
                <form method="post" action="/posts/<%=post.id%>/dislike/">
                    <button type="submit">Dislike</button>
                </form>
            </li>
            <% }); %>
    </ol>
    <%if (postList.next) { %>
        <a href="<%= postList.next %>">Next</a>
        <% } %>
            <%if (postList.previous) { %>
                <a href="<%= postList.previous %>">Previous</a>
                <% } %>


</main>
<footer><%- include('_footer') -%></footer>

</html>