<html lang="en-gb">
<header><%- include('_head') -%>
        <nav><%- include('_header') -%></nav>
</header>

<main class="grid_container">
    <div class="user">
        <h3>
            <%= name %>
        </h3>
        <img src="<%= coverImageUrl %>" alt="cover image">
        <img src="<%= profileImageUrl %>" alt="profile image">
        <h4>
            <%= username %>
        </h4>
        <h4>
            <%= email %>
        </h4>
    </div>

    <div class="posts">
        <div class="card">
            <h3>my posts</h3>
            <% posts.forEach(post=>{%>
                <img src="<%= post.imageUrl %>">
                <h5>
                    <%= post.createdAt %>
                </h5>
                <h5>
                    <%= post.message %>
                </h5>
                <%})%>

        </div>
    </div>

    <div class="posts">
        <div class="card">
            <h3>likes</3>
                <% likes.forEach(post=>{%>
                    <img src="<%= post.imageUrl %>">
                    <h5>
                        <%= post.createdAt %>
                    </h5>
                    <h5>
                        <%= post.message %>
                    </h5>
                    <%})%>
        </div>
    </div>

    <div class="posts">
        <div class="card">
            <h3>dislikes</h3>
            <% dislikes.forEach(post=>{%>
                <img src="<%= post.imageUrl %>">
                <h5>
                    <%= post.createdAt %>
                </h5>
                <h5>
                    <%= post.message %>
                </h5>
                <%})%>
        </div>
    </div>


</main>
<footer><%- include('_footer') -%></footer>

</html>